<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no meetup {{ meetup.title }}, confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{ user }}<br />
  <strong>Data/hora: </strong> {{ date }}<br />
  <strong>Local: </strong> {{ meetup.localization }}<br />
</p>
